version: "3"

services:
  telegraf:
    container_name: telegraf
    build: ..
    image: smarthome-telegraf:latest
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      - NETATMO_API_CLIENT_ID=${NETATMO_API_CLIENT_ID}
      - NETATMO_API_CLIENT_SECRET=${NETATMO_API_CLIENT_SECRET}
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=home
      - INFLUXDB_BUCKET=smarthome
      - ENV=prod
    volumes:
      - ./telegraf.conf:/etc/telegraf.conf:ro
      - ../data/jsondb:/var/lib/jsondb
      - ../config:/opt/smarthome-telegraf/config:ro
